/* * {
  margin:0;
} */
:root {
  --text-color: rgba(33, 33, 33, 1);
  --alt-text-color: rgba(117, 117, 117, 1);
  --active-link-color: rgba(33, 150, 243, 1);
  --addition-bg-color: rgba(47, 48, 58, 1);
  --footer-text-color: rgba(255, 255, 255, 1);
  --button-bg-color: rgba(245, 244, 250, 1);
  --ft-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 14px;
  width: 1600px;
}
li {
  list-style: none;
}
.container {
  max-width: 1200px;
/* technical borderline  */
  border: 1px solid red;
margin: 0 auto;
  }
  .navi-links {
    max-width: 254px;
    margin: 0
  }
  .link {
  color: var(--text-color);
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
}
.link:hover,
.link:focus {
  color: var(--active-link-color);

}
.tablink {
  color: var(--active-link-color);
}
.link-general {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: rgba(0, 0, 0, 1);
 
}
.logo {
  color: var(--active-link-color);
}

.link-general:visited {
  color: transparent;
}
.contact .link {
  color: var(--alt-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--active-link-color);
}
/* eliminuje kursywe w adresie */
.address {
  font-style: normal;
}

.home-buttonfield {
  background-color: var(--addition-bg-color);
  /* border-radius: 0px; */
  height: 600px;
}
.welcome {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  max-width: 696px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.orderbutton {
  background-color: var(--active-link-color);
  color: var(--footer-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Roboto';
  font-style: normal;
  margin: 0 auto;
}
.sectionheader {
  font-size: 36px;
}
.text-header {
  font-size: 14px;
  line-height: 1.14;
}
.text {
  line-height: 1.71;
  color: var(--alt-text-color);
}
.teamlabel {
  font-size: 16px;
  line-height: 1.19;
}
.name-coworker {
  font-weight: 500;
}
.profession {
  color: var(--alt-text-color);
}
.filter-buttons .button {
  font-family: 'Roboto';
  font-style: normal;
  border: none;
  background: var(--button-bg-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  font-weight: 500;
}

.filter-buttons .button:active,
.filter-buttons .button:focus,
.filter-buttons .button:hover {
  color: var(--footer-text-color);
  background-color: var(--active-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.name-of-project {
  font-size: 18px;
  line-height: 2;
}
.kind-of-project {
  font-size: 16px;
  line-height: 1.89;
}
.footer {
  color: var(--footer-text-color);
  line-height: 1.71;
  font-weight: 400;
  background: var(--addition-bg-color);
}
.ft-container {
  padding: 60px 15px;
  max-width: 264px;
}
.studio {
  color: var(--footer-text-color);
}

.contact-links .link {
  color: var(--ft-contact-color);
  line-height: 1.71;
  
}
.contact-links .link:hover,
.contact-links .link:focus {
  color: var(--active-link-color);
}
